/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
  color: #2e2e2e;
}

body .container center p {
  font-size: 19px;
  margin-bottom: 15px;
}

.contact-button {
  margin: 70px 0;
  text-align: center;
}
.contact-button .spangg-button {
  padding: 15px 45px;
}

hr {
  border-top: 2px solid #eee;
}

h1, h2, h3, h4, h5, h6 {
  color: #424242;
}

h2 {
  margin-bottom: 30px;
}

.jumbotron p {
  font-weight: 400;
}

.spangg-button {
  background-color: #3586c3;
  border: 1px solid #bfbfbf;
  color: #fff;
  margin: 5px;
}

.spangg-button:hover {
  background-color: #eb3825;
  color: #fff;
  xfont-weight: bold;
}

