/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700');

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 400;
  padding-bottom: 20px;
  color: #2e2e2e;
}

body .container center p {
  font-size: 19px;
  margin-bottom: 15px;
}

.contact-button {
  margin: 70px 0;
  text-align: center;
  
}

.contact-button .spangg-button {
  padding: 15px 45px;
  background-color: #eb3825;
}
.contact-button .spangg-button:hover {
  background-color: #3586c3;
}

hr {
  border-top: 2px solid #eee;
}

h1, h2, h3, h4, h5, h6 {
  color: #424242;
}

h2 {
  margin-bottom: 30px;
}

.jumbotron p {
  font-weight: 400;
}

.spangg-button {
  background-color: #3586c3;
  border: 1px solid #bfbfbf;
  color: #fff;
  margin: 5px;
}

.spangg-button:hover {
  background-color: #eb3825;
  color: #fff;
}

/* Nav bar */
.navbar-brand {
  padding: 5px 15px;
}
.navbar-brand img {
  height: 40px;
  display: inline-block;
}
.navbar-default {
  border-radius: 0;
  border: 0;
  border-bottom: 1px solid #e7e7e7;
}
.navbar-right li a {
  text-transform: uppercase;
  font-size: 1.75rem;
}
.navbar-default .navbar-nav li a {
  /* color: #2b71b6; */
  color: #424242;
}
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus {
  color: #e64225;
  background-color: transparent;
}
#spangg-logo-text {
  color: #2b71b6;
  font-weight: 400;
  font-size: 2.2rem;
  margin-left: 2px;
}
/* Nav bar */

/* About */
#about, .contact {
  line-height: 4rem;
  padding: 5% 10%;
}
#about h2, .contact h2 {
  line-height: 4.5rem;
}
#true-story {
  color: #e64225;
}
/* About */